.navbar-brand{
    display: block;
    padding: 15px;
}

@media (max-width: 991px) {
    .navbar-brand{
        padding: 24px 15px;
    }
}

@media (max-width: 480px) {
    .navbar-brand{
        padding:20px 15px;
    }
}

.navbar ul.nav > li > a{
    text-decoration:none;
}

.home-hero {
  position: relative;
  min-height: 70vh;
}
.blue-hero{
    background: url('../img/collab.jpg') center center repeat;
    background-size: cover;
}
.home-hero .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #467fbf;
  opacity: 0.75;
  filter: alpha(opacity=20);
}
.home-hero .item{
    padding-top: 20vh;
}
@media (max-width: 991px) {
    .home-hero .item{
        padding-top: 15vh;
    }
}
@media (max-width: 768px) {
    .home-hero .item{
        padding-top: 10vh;
    }
}

.home-hero h1,
.home-hero h2{
  color: #fff;
}
.home-hero h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 0.04em;
}
.home-hero h2 {
  font-weight: 700;
  text-transform: inherit;
  letter-spacing: 0.02em;
}
.home-hero a.btn{
    margin: 4em;
}
@media (max-width: 991px) {
  .home-hero h1 {
    font-size: 34px;
  }
  .home-hero h2 {
    font-size: 24px;
  }
  .home-hero a.btn {
      margin:2em 0;
  }
}

.row-flex{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.row-flex > div {
    float: none;
    display: flex;
    padding: 0 10px 0 10px
}
.polytenets{
    padding: 60px 0 20px;
}
.polytenets .box-simple{
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border:none;
    box-shadow: 0 0 20px #ddd;
}

.icon{
    color: #292561 !important;
    border: none;
    font-size: 70px;
}

.polytenets .box-simple p{
    margin-bottom:2em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.polytenets .box-simple .btn{
    margin-top: auto;
}

.background-image-fixed-2{
    padding: 0;
}








.form-row {
  width: 100%;
  text-align: left;
}

.form-half-row {
  width: 49%;
  display: inline-block;
}

.form-align {
  text-align: left;
}

.form-error {
  color: #DA0000;
  display: none;
}

.contact-info {
  color: #C3C3C3;
  padding-left: 1rem;
}

.contact-info::before {
  content: "(";
}

.contact-info::after {
  content: ")";
}

label {
  color: #545454;
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
}

input {
  height: 3em;
  padding: 1rem;
}

textarea {
  padding: 1em;
  resize: none;
}

input, textarea {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 1px solid #C3C3C3;
  border-radius: 2px;
}

input[type=text], textarea {
  width: 100%;
}

input[type=submit] {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.1rem 1.5rem;
  border: 0;
  background: rgb(2, 62, 1);
  color: rgb(244, 244, 244);
  cursor: pointer;
  transition: background-color .1s linear;
}

input[type=submit]:hover {
  background: rgb(3, 171, 0);
  color: white;
}


@media (max-width: 999px) {
    .contact-info {
    padding-left: 0;
    display: block;
    }

    .contact-info::before, .contact-info::after {
    content: "";
    }

    .form-half-row {
    width: 100%;
    }
}
