{{ if isset .Site.Params "hero" }}
{{ if .Site.Params.hero.enable }}
<section class="no-mb">
    <div class="home-hero blue-hero">
        <div class="dark-mask"></div>
        <div class="container-fluid">
            <div class="homepage">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            {{ .Site.Params.hero.pitch | safeHTML }}
                            <a href="{{ .Site.BaseURL }}{{ .Site.Params.hero.link1 }}" class="btn btn-success btn-lg">{{ .Site.Params.hero.cta1 }}</a>
                            <a href="{{ .Site.BaseURL }}{{ .Site.Params.hero.link2 }}" class="btn btn-info btn-lg">{{ .Site.Params.hero.cta2 }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
