{{ if isset .Site.Params "projects" }}
{{ if .Site.Params.projects.enable }}
<section class="no-mb">
    <div class="home-carousel projects">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                {{ range where .Data.Pages "Section" "projects" }}
                <div class="row">
                    <div class="item">
                        <div class="col-sm-5 flex-center">
                            <img class="img-responsive" src="{{ .Site.BaseURL }}{{ .Params.banner }}" />
                        </div>
                        <div class="col-sm-7">
                            <h2>{{ .Title }}</h2>
                            <p class="truncate-lines">{{ .Summary }}</p>
                            <p class="read-more">
                              <a href="{{ .Permalink }}" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
