<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            {{ range .Site.Data.mission }}
                <div class="heading text-center">
                    <h2>{{ .mission }}</h2>
                </div>

                <p class="lead">
                  {{ .statement | markdownify }}
                </p>
            {{ end }}
            <!-- *** BLOG HOMEPAGE *** -->
            {{ if isset .Site.Params "tenets" }}
            {{ if .Site.Params.tenets.enable }}
            <div class="row">

                {{ $posts := .Paginate (where .Data.Pages "Type" "tenet") }}
                {{ range first 4 $posts.Pages }}
                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="icon">
                                <i class="fa {{ .Params.icon }}"></i>
                            </div>
                        </div>

                        <div class="content">
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            {{ if isset .Params "author" }}
                              <p class="author-category">By <a href="#">{{ .Params.author }}</a> on {{ .Date.Format "January 2, 2006" }}
                            {{ end }}
                            </p>
                            <p class="intro truncate-lines">{{ .Summary }}</p>
                            <p class="read-more">
                              <a href="{{ .Permalink }}" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->

                </div>
                {{ end }}

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->
            {{ end }}
            {{ end }}

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
