<!DOCTYPE html>
<html lang="{{ .Site.Params.language }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "subheader.html" . }}

    {{ range where .Data.Pages ".Title" "Motivation" }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
        {{ .Content }}
      </section>
    </article>
    {{ end }}

    {{ range where .Data.Pages ".Title" "Governance" }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
        {{ .Content }}
      </section>
    </article>
    {{ end }}

    {{ range where .Data.Pages ".Title" "Quality Control" }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
        {{ .Content }}
      </section>
    </article>
    {{ end }}

    {{ range where .Data.Pages ".Title" "Contracts" }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
        {{ .Content }}
      </section>
    </article>
    {{ end }}

    {{ range where .Data.Pages ".Title" "Economics" }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
        {{ .Content }}
      </section>
    </article>
    {{ end }}
    
    {{ range where .Data.Pages ".Title" "Contact Us" }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
        {{ .Content }}
      </section>
    </article>
    {{ end }}

    {{ partial "footer.html" . }}
  </body>
</html>

