<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "hero.html" . }}

        {{ partial "tenets.html" . }}

        {{ partial "polytenets.html" . }}

        {{ partial "projects.html" . }}

        {{ partial "partners.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
