body {
  background: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 90, 224);
}

b {
  font-weight: 600;
}

main {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav {
  border-bottom: 1px solid rgba(89, 89, 89, 0.22);
  text-align: center;
}

nav a {
  font-weight: 400;
  font-size: 1.25rem;
  display: inline-block;
  padding: 1rem;
  margin: 0 1.75rem;
}

main header {
  margin-top: 4rem;
}

main mark {
  background: none;
  display: inline-block;
  margin: 0 0.5rem;
}

footer {
  padding: 2rem;
  text-align: right;
}

main footer {
  margin-top: 4.5rem;
  padding-bottom: 4rem;
  text-align: center;
}

main footer a {
  font-weight: 300;
  font-size: 1.25rem;
  color: black;
  padding: 0.25rem 1.5rem;
  display: inline-block;
}

main footer mark a.action-main {
  font-weight: 400;
  color: rgb(0, 147, 19);
}

article {
  padding: 1rem 0 5rem 0;
}

article:nth-child(even) {
  background: rgb(244, 244, 244);
  border-top: 1px solid rgb(148, 148, 148);
  border-bottom: 1px solid rgb(148, 148, 148);
}

article header {
  padding-top: 2rem;
}

section {
  max-width: 650px;
  margin: 0 auto;
}

.project-section {
  border-left: 2px solid rgb(224, 224, 224);
  margin-bottom: 3.5rem;
}

.project-section aside {
  text-align: left;
  position: absolute;
  width: 9rem;
  left: -10rem;
  top: 1rem;
}

.project-dev-section aside p {
  margin: 0;
}

aside a {
  font-weight: 600;
}

aside p {
  margin-top: 2px;
  margin-bottom: 1.5rem;
}

h1 {
  margin: 0;
}

.h1 {
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 3px;
  vertical-align: top;
}

h2 {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0.75rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

h5 {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin: 0;
}

.site-logo {
  width: 128px;
}

.small-site-logo {
  width: 28px;
  padding-top: 4px;
}

.bar {
  display: block;
  height: 8px;
  border-radius: 4px;
  margin: 0 auto;
}

.bar-main {
  background: rgb(3, 171, 0);
}

.bar-secondary {
  background: rgba(208, 208, 208, 0.49);
}

.project-header {
  width: 25%;
  padding-top: 1rem;
  vertical-align: top;
  display: inline-block;
}

.project-logo {
  width: 4.5rem;
  height: 4.5rem;
}

.project-dev-logo {
  width: 4rem;
  height: 4rem;
}

.project-upcoming-logo {
  width: 6.75rem;
  height: 6.75rem;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

.project-dev-title {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 3px;
  margin: 0;
}

.project-upcoming-title {
  font-size: 1.625rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

.project-description {
  text-align: left;
  display: inline-block;
  width: 73%;
}

.project-section, .project-dev-section, .project-upcoming-section {
  position: relative;
}

.project-dev-section {
  clear: both;
  margin: 1.5rem 2rem 1.5rem 0;
}

.project-upcoming-section {
  margin: 1.5rem 0;
  background: #F9F9F9;
  padding: 2rem 2rem 1rem 2rem;
  border: 1px outset #DEDEDE;
}

.left-section {
  text-align: left;
}

.left-section header {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  padding-top: 1rem;
  margin-top: 1.75rem;
}

.project-dev-section header {
  float: left;
  margin-top: 0;
  padding-top: 0;
  padding-right: 1rem;
  font-weight: 400;
}

.project-upcoming-section header {
  float: left;
  padding-right: 2rem;
  width: 6.75rem;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

.section-50 {
  width: 50%;
}

.simple-generic-logo {
  display: inline-block;
  font-family: 'Kite One', sans-serif;
  color: white;
}

.simple-project-logo {
  margin: 0 auto;
  margin-bottom: 0.25rem;
  border-radius: 12px;
  font-size: 54px;
}

.simple-project-dev-logo {
  text-align: center;
  border-radius: 8px;
  font-size: 46px;
}

.simple-project-upcoming-logo {
  border-radius: 18px;
  font-size: 84px;
}

.bitjws-bg {
  background: rgb(0, 70, 175);
  background: linear-gradient(135deg, rgba(134, 84, 185, 0.4) 0%, rgb(0, 70, 175) 100%);
}

.deexchangebroker-bg {
  background: black;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.51) 0%, black 100%);
}

.deexchangenode-bg {
  background: rgb(0, 11, 107);
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.4) 0%, rgb(0, 11, 107) 100%);
}

.decosigner-bg {
  background: rgb(90, 90, 90);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(15, 15, 15, 0.62) 100%);
}

.desharedwallet-bg {
  background: rgb(0, 90, 255);
  background: linear-gradient(135deg, rgba(0, 255, 255, 0.7) 0%, rgba(15, 15, 15, 0.62) 100%);
}

.yours-bg {
  background: rgb(0, 240, 255);
  background: linear-gradient(135deg, rgba(0, 240, 255, 0.4) 0%, rgb(0, 42, 105) 100%);
}

.form-row {
  width: 100%;
  text-align: left;
}

.form-half-row {
  width: 49%;
  display: inline-block;
}

.form-align {
  text-align: left;
}

.form-error {
  color: #DA0000;
  display: none;
}

.contact-info {
  color: #C3C3C3;
  padding-left: 1rem;
}

.contact-info::before {
  content: "(";
}

.contact-info::after {
  content: ")";
}

form {
  padding: 0 1rem;
}

label {
  color: #545454;
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
}

input {
  height: 2.5rem;
  padding: 0.1rem 0.5rem;
}

textarea {
  padding: 0.5rem;
  resize: none;
}

input, textarea {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 1px solid #C3C3C3;
  border-radius: 2px;
}

input[type=text], textarea {
  width: 100%;
}

input[type=submit] {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.1rem 1.5rem;
  border: 0;
  background: rgb(2, 62, 1);
  color: rgb(244, 244, 244);
  cursor: pointer;
  transition: background-color .1s linear;
}

input[type=submit]:hover {
  background: rgb(3, 171, 0);
  color: white;
}

/* Single */

.responsive-img {
  width: 100%;
}

.single-header {
  border-bottom: 0;
}

.single-header ul {
  display: table;
  padding: 0;
  width: 100%;
}

.single-header li {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 999px) {
  main {
    margin-top: 0;
    margin-bottom: 0;
  }

  main header {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main footer {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  main footer a {
    padding: 0.25rem 0.5rem;
  }

  nav a {
    font-size: 16px;
    margin: 0 0.25rem;
    padding: 0.5rem;
  }

  footer {
    padding: 1rem;
  }

  .project-section {
    border-left: none;
    margin-bottom: 5rem;
  }

  .project-description {
    width: 90%;
  }

  .project-header {
    display: inline;
  }

  .project-section aside {
    left: 0;
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid gray;
  }

  .project-dev-section {
    margin-right: 0;
  }

  .project-upcoming-section {
    padding: 2rem 1rem 0.5rem 1rem;
  }

  .project-upcoming-section header {
    float: none;
    margin: 0 auto;
    padding: 0 0 1rem 0;
  }

  .left-section {
    width: 90%;
  }

  .small-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }


  .contact-info {
    padding-left: 0;
    display: block;
  }

  .contact-info::before, .contact-info::after {
    content: "";
  }

  .form-half-row {
    width: 100%;
  }

  .single-header li {
    padding: 0 10px;
  }
}

@media (max-width: 512px) {
  .single-header ul {
    display: block;
  }

  .single-header li {
    display: block;
  }
}
