<!DOCTYPE html>
<html lang="{{ .Site.Params.language }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "single_subheader.html" . }}
    <article id="{{ .Title }}">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      <section class="small-padding">
        <p>To stay transparent and decentralized, our team uses <a href="https://github.com/deginner" target="_blank">github</a> for the majority of communication. The best way to contact us for technical matters is to leave an appropriate issue in the relevant github repository. There are also <a href="https://gitter.im/deginner/bitjws" target="_blank">gitter rooms</a> for discussion.</p>

        <p>Finally, of course, you can email us below.</p>
      </section>
    </article>

    <article id="{{ .Title }}_mail">
      <header>
        <h3>Email Us</h3>
      </header>
      <section class="small-padding">
        {{ .Content }}
      </section>
    </article>

    {{ partial "footer.html" . }}
  </body>
</html>
